@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #000;
}

.grid-header {
    display: block;
    grid-area: header;
}

.grid-main { 
	display: block;
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	grid-gap: 0px;
	margin: auto;
	width: 100%;
}

/* NavBar Styling */

header {
    background-color: black;
    width: 80%;
    /* height: 4vw; */
    margin: 0;
    margin: auto;
    margin-bottom: 3vw;
    border-bottom: #7500A3 1px solid;
    border-width: thick;
}

.navbar-logo-area {
	float: left;
	width: 22%;
	height: 4vw; 
	padding: .7vw 0 0 1vw;
}

.navbar-logo > img {
	display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
}

.navItems4 {
	background-color: #340348;
}

.navbar-btns {
	font-size: 1.4vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #ba00d6;
	transition: .5s;
}

/* Main/Body Styling */

main {
	background-color: #000;
	width: 100%;
	height: auto;
}

.om-umf-box {
	display: block;
	color: #fff;
	float: left;
	width: 50%;
	height: auto;
	margin: 2.5vw 0 5vw 0;
	padding: 0 4vw 0 4vw;
}

.h1-info-umf-box {
	font-size: 3vw;
	font-weight: 500;
	color: #C87BE7;
}

.p-info-umf-box {
	font-size: 1vw;
}

.informationer {
	width: 100%;
	height: auto;
}

.informationer-venstre {
	float: right;
	color: #fff;
	width: 50%;
	height: auto;
	margin: 9vw 0 0 0;
	padding: 0 4vw 0 4vw;
}

.informationer-højre {
	float: left;
	color: #fff;
	width: 50%;
	height: auto;
	margin: 0 0 0 0;
	padding: 0 4vw 0 4vw;
}

.h2-informationer {
	margin: 00 0 .5vw 0;
	font-size: 1.4vw;
	font-weight: 600;
	color: #C87BE7;
}

.h3-informationer {
	margin: 0 0 0 0;
	font-size: 1.2vw;
	font-weight: 300;
}

.p-informationer {
	margin: 0 0 1.5vw 0;
	font-size: 1vw;
}

.a-informationer {
	color: #C87BE7;
	text-decoration: none;
}



.img-info-umf-box {
	float: right;
	width: 50%;
	height: auto;
	margin: 11.5vw 0 0 0;
	padding: 0 4vw 0 0;
}

iframe {
	display: block;
	width: 45vw;
	height: 28vw;
	border: 0px;
	margin: 0 0 4vw 0;
}

/* FOOOTER STYLING */

footer {
    display: grid;
	grid-template-areas: 'adresse image1 image2 image3 image4 image5 socialmedia';
    background-color: #000000;
	padding: 0;
	color: white;
	width: 100%;
	border-top: #7500A3 1px solid;
	border-width: thick;
	margin-top: 10px;
}

.footerBox {
    background-color: #000000;
	padding: 1vw;
	align-self: center;
}

.footerBox ul li {
    padding: 0.2vw;
}

.footerBox a {
    color: #fff;
}

.footerOne {
    justify-self: center;
	grid-area: adresse;
}

.footerTwo{
    justify-self: center;
	grid-area: image1;
}
.footerThree{
    justify-self: center;
	grid-area: image2;
}
.footerFour{
    justify-self: center;
	grid-area: image3;
}
.footerFive{
    justify-self: center;
	grid-area: image4;
}

.footerSix {
    justify-self: center;
	grid-area: image5;
}

.footerSeven {
    justify-self: center;
	grid-area: socialmedia;
}


.bottom-icons {
	text-decoration: none;
	font-size: 3vw;
}

.bottom-icons:hover {
	color: #690079;
}


ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li h3 {
	font-size: 2vw;
	margin: 0;
}

.fa-instagram:before {
    content: "\f16d";
    padding-left: 25px;
}

.fa-facebook:before {
    content: "\f16d";
    padding-left: 25px;
}

/* Mobile portrait, 4" to 6.9" screens */
@media screen and (min-width: 320px) and (max-width: 425px) {
	
	/* Header */

	header {
		display: grid;
		/* grid-area: logo; */
		grid-template-areas:
			'logo'
			'navbar';
		width: 100%; 
		height: 36vw;
		/* margin: 0; */
	}
	nav {
		display: flex;
		justify-content: center;
		/* margin-right: 20px; */
		background: black;
		/* border-bottom: purple 1px solid; */
		border-width: thick;
	}
	

	.navbar-logo-area {
		display: block;
		width: 68%;
		margin: auto;
		grid-area: logo;
		margin-bottom: 10vw;
	}

	.logo-responsive {
		display: block;
		min-width: 25%;
		max-width: 45vw;
		margin: auto;
	}
	.navbar-btns {
		display: block;
		grid-area: navbar;
		font-size: 5vw;
		height: 10vw;
		padding: 2.5vw;
	}

	/* Main */

	main {
		display: block;
		min-width: 320px;
		max-width: 425px;
		height: auto;
	}

	.om-umf-box {
		display: block;
		width: 100%;
		margin: 0;
		padding: 2vw 7vw 0 7vw;
	}

	.h1-info-umf-box {
		font-size: 4vw;
	}

	.p-info-umf-box {
		font-size: 2.5vw;
	}

	.img-info-umf-box {
		display: block;
		width: 97%;
		margin: 5vw auto 5vw auto;
		padding: 0;
	}

	.informationer-venstre, .informationer-højre {
		display: block;
		width: 100%;
		float: none;
		margin: 0;
		padding: 2vw 7vw 0 7vw;
	}

	.p-informationer {
		font-size: 2.5vw;
		padding: 0 0 3vw 0;
	}

	.h2-informationer {
		font-size: 3vw;
	}

	.h3-informationer {
		font-size: 3vw;
	}

	iframe {
		width: 100%;
		height: 50vw;
	}

	/* Footer */
	footer {
		display: block;
		text-align: center;
	}

	.footerBox {
		font-size: 3vw;
	}

	li > h3 {
		font-size: 5vw;
	}

	.fa-facebook, .fa-instagram {
		padding: 2vw;
		font-size: 5vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}

/* Tablet portrait, 7" to 10" screens */
@media screen and (min-width: 768px) and (max-width: 834px) {
	
	html, body {
		min-width: 768px;
		max-width: 834px;
		height: auto;
		margin: 0;
	}

	/* Header */
	header {
		display: block;
		height: auto;
		margin: 0 auto;
	}

	.navbar-logo-area {
		display: block;
		width: 25%;
	}

	.navbar-btns {
		font-size: 2.3vw;
	}

	/* Main */

main {
	display: block;
	width: 100%;
	height: auto;
}

.om-umf-box {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.h1-info-umf-box {
	font-size: 3.5vw;
	padding-left: 2vw;
}

.p-info-umf-box {
	font-size: 2.15vw;
	padding: 0 4vw 0 2vw;
}

.img-info-umf-box {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5vw;
}

.informationer-højre, .informationer-venstre {
	display: block;
	width: 100%;
	margin: 0;
}

.informationer-højre {
	margin: 5vw 0 0 0;
}

.h2-informationer {
	font-size: 2.3vw;
	padding: 0 2vw;
}

.h3-informationer {
	font-size: 2.3vw;
	padding: 0 2vw;
}

.p-informationer {
	font-size: 2.15vw;
	padding: 0 2vw 1vw 2vw;
}

iframe {
	display: block;
	width: 95%;
	height: 50vw;
	margin: 0 auto 2vw auto;
}

/* Footer */
	.footerBox, ul, li {
		font-size: 1.8vw;
		text-align: center;
	}

	.fa-facebook, .fa-instagram {
		padding: 1vw;
		font-size: 4vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}