@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1 a:visited {
	color: #C87BE7;
	}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #000;
}

.grid-header {
    display: block;
    grid-area: header;
}

.grid-main { 
	display: block;
	grid-area: main;
	
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	grid-gap: 0px;
	margin: auto;
	width: 100%;
	position: relative;
}

/* NavBar Styling */

header {
	background-color: black;
    width: 80%;
    /* height: 4vw; */
    margin: 0;
    margin: auto;
    margin-bottom: 3vw;
    border-bottom: #7500A3 1px solid;
    border-width: thick;
}

.navbar-logo-area {
	float: left;
	width: 22%;
	height: 4vw; 
	padding: .7vw 0 0 1vw;
}

.navbar-logo > img {
	display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
}

.navItem2 {
	background-color: #340348;
}

.navbar-btns {
	font-size: 1.4vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #ba00d6;
	transition: .5s;
}

/* Main/Body Styling */

main {
	background-color: #000;
	width: 100%;
}

h1 {
	font-size: 3vw;
	font-weight: 500;
	color: #C87BE7;
	text-align: center;
}


h2 {
	color: white;
	font-size: 2vw;
	margin: auto;
	text-align: center;
	padding: 10vw;
	font-style: italic;
}

.programContainer {
	background: linear-gradient(#00000080, #00000080), url(../images/group-of-people-1.jpg) center center/cover no-repeat;
	color: white;
	height: 1000px;
}

form {
	text-align: center;
}

input{
	width: 15vw;
    height: auto;
    background-color: #7500A3;
	color: #fff;
	padding: 15px 32px;
	font-size: 16px;
	border: none;
    margin: 1vw 0.5vw 1vw 0.5vw;
    cursor: pointer;
    transition: all .1s linear;
}

input:hover {
	background-color: #340348;
}





/* virker ikke som det skal
#band_navn {
	color: white;
}

#genre {
	color: white;
}

#medlemmer {
	color: white;
}

#navn {
	color: whitesmoke;
} */


/* FOOOTER STYLING */

footer {
    display: grid;
	grid-template-areas: 'adresse image1 image2 image3 image4 image5 socialmedia';
    background-color: #000000;
	padding: 0;
	color: white;
	width: 100%;
	border-top: #7500A3 1px solid;
	border-width: thick;
	margin-top: 0px;
	bottom: 0;
	
}

.footerBox {
    background-color: #000000;
	padding: 1vw;
	align-self: center;
}

.footerBox ul li {
    padding: 0.2vw;
}

.footerBox a {
    color: #fff;
}

.footerOne {
    justify-self: center;
	grid-area: adresse;
}

.footerTwo{
    justify-self: center;
	grid-area: image1;
}
.footerThree{
    justify-self: center;
	grid-area: image2;
}
.footerFour{
    justify-self: center;
	grid-area: image3;
}
.footerFive{
    justify-self: center;
	grid-area: image4;
}

.footerSix {
    justify-self: center;
	grid-area: image5;
}

.footerSeven {
    justify-self: center;
	grid-area: socialmedia;
}


.bottom-icons {
	text-decoration: none;
	font-size: 3vw;
}

.bottom-icons:hover {
	color: #690079;
}


ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li h3 {
	font-size: 2vw;
	margin: 0;
}

.fa-instagram:before {
    content: "\f16d";
    padding-left: 25px;
}

.fa-facebook:before {
    content: "\f16d";
    padding-left: 25px;
}

/* Mobile portrait, 4" to 6.9" screens */
@media screen and (min-width: 320px) and (max-width: 425px) {
	
/* Mobile portrait, 4" to 6.9" screens */
@media screen and (min-width: 320px) and (max-width: 425px) {

	/* Header */
	header {
		display: grid;
		/* grid-area: logo; */
		grid-template-areas:
			'logo'
			'navbar';
		width: 100%; 
		height: 36vw;
		/* margin: 0; */
	}
	nav {
		display: flex;
		justify-content: center;
		/* margin-right: 20px; */
		background: black;
		/* border-bottom: purple 1px solid; */
		border-width: thick;
	}
	

	.navbar-logo-area {
		display: block;
		width: 68%;
		margin: auto;
		grid-area: logo;
		margin-bottom: 10vw;
	}

	.logo-responsive {
		display: block;
		min-width: 25%;
		max-width: 45vw;
		margin: auto;
	}
	.navbar-btns {
		display: block;
		grid-area: navbar;
		font-size: 5vw;
		height: 10vw;
		padding: 2.5vw;
	}

	/* Main */

	main {
		display: block;
		min-width: 320px;
		max-width: 425px;
		height: auto;
		margin: 0;
		/* padding: 2vw 7vw 0 7vw; */
	}

	input {
		width: 21vw;
		height: auto;
		/* margin: auto; */
		font-size: 14px;
		padding: 5px 5px;
	}

	.programContainer {
		height: 300px;
	}

	h1 {
		font-size: 4vw;
	}

	h2 {
		font-size: 4vw;
		padding: 9vw;
	}
	

	/* Footer */
	footer {
		display: block;
		text-align: center;
	}

	.footerBox {
		font-size: 3vw;
	}

	li > h3 {
		font-size: 5vw;
	}

	.fa-facebook, .fa-instagram {
		padding: 2vw;
		font-size: 5vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 834px) {
	
	html, body {
		min-width: 768px;
		max-width: 834px;
		height: auto;
		margin: 0;
	}

	/* Header */
	header {
		display: block;
		height: auto;
		margin: 0 auto;
	}

	.navbar-logo-area {
		display: block;
		width: 25%;
	}

	.navbar-btns {
		font-size: 2.3vw;
	}

	/* Main */

main {
	display: block;
	width: 100%;
	height: auto;
}

input {
	width: 26vw;
	height: auto;
	padding: 10px 21px;
}

.programContainer {
	height: 975px;
}

h1 {
	font-size: 6vw;
}

h2 {
	font-size: 4vw;
	padding: 9vw;
}

/* Footer */
	.footerBox, ul, li {
		font-size: 1.8vw;
		text-align: center;
	}

	.fa-facebook, .fa-instagram {
		padding: 1vw;
		font-size: 4vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}