@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.grid-header { 
	display: block;
	grid-area: header;
	background-color: #000;
	width: 100%;
	height: 4vw; 
	margin: 0;
}
.grid-main { 
	grid-area: main;
	background-color: blue;
	width: 100%;
	height: 40vw;
}
.grid-footer { 
	grid-area: footer;
	background-color: green;
	width: 100%;
	height: 8vw; 
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header header header'
	  'main main main'
	  'footer footer footer';
	grid-gap: 0px;
  }

  .navbar-logo-area {
	  float: left;
	  width: 15%;
	  height: 4vw;
	  padding: .7vw 0 0 1vw;
  }

  .navbar-logo > img {
	  display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
}

.navbar-btns {
	font-size: 1.1vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

. navbar-btns:hover {
	background-color: #808080;
	transition: .5s;
}