@charset "utf-8";
/* CSS Document */

/* OBS. her bruges View Width (f.eks. 2vw) istedet for Pixels, så siden ændrer på indholdets størrelse når man justerer browserens størrelse */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/* margin på både html og body er for at sikre at websiden anvender hele vinduet uden at der er White Spaces på siderne */

body {
	margin: 0;
}

.grid-header { 
	display: block;
	grid-area: header;
	background-color: #000;
	width: 100%;
	height: 4vw; 
	margin: 0;
}
.grid-main { 
	grid-area: main;
	background-color: #000;
	width: 100%;
	height: auto;
}
.grid-footer { 
	grid-area: footer;
	background-color: green;
	width: 100%;
	height: 8vw;
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header header header'
	  'main main main'
	  'footer footer footer';
	grid-gap: 0px;
  }

  .navbar-logo-area {
	  float: left;
	  width: 15%;
	  height: 4vw;
	  padding: .7vw 0 0 1vw;
  }

  .navbar-logo > img {
	  display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav { /* flex bruges istedet for Float, float: right ændrer på rækkefølgen på nav buttons */
	display: flex;
	justify-content: flex-end;
}

.navbar-btns {
	font-size: 1.1vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #444444;
	transition: .5s;
}

.umf-box {
	width: 40%;
	height: 50%;
	border-radius: 20px;
	margin: 9.5vw auto auto auto;
	text-align: center;
}

.top-h1-glow {
	font-size: 3.5vw;
	color: #fff;
	margin: 2vw 0 0 0;
	-webkit-animation: top-h1-glow 1s ease-in-out infinite alternate;
  	-moz-animation: top-h1-glow 1s ease-in-out infinite alternate;
  	animation: top-h1-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes top-h1-glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.bottom-h1-glow {
	font-size: 5.5vw;
	color: #fff;
	margin: 0;
	text-shadow: 0 0 10px #3700ff;
	-webkit-animation: bottom-h1-glow 1s ease-in-out infinite alternate;
  	-moz-animation: bottom-h1-glow 1s ease-in-out infinite alternate;
  	animation: bottom-h1-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes bottom-h1-glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2a00e6, 0 0 40px #2a00e6, 0 0 50px #2a00e6, 0 0 60px #2a00e6, 0 0 70px #2a00e6;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #4d5fff, 0 0 40px #4d5fff, 0 0 50px #4d5fff, 0 0 60px #4d5fff, 0 0 70px #4d5fff, 0 0 80px #4d5fff;
	}
}

.dato {
	font-size: 1.3vw;
	color: #fff;
	margin: 2vw;
}

.mail-box {
	background-color: #fff;
	width: 65%;
	height: auto;
	margin: 8vw auto;
	padding: .5vw 0 2vw 0;
	text-align: center;
}

.mail-box h1 {
	text-align: center;
	font-weight: 500;
}

input[type=email] {
	width: 75%;
	height: 30%;
	padding: 12px 20px;
	margin: .8vw 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 25%;
	height: auto;
	padding: 12px 20px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #b6b6b6;
}

input[value=Tilmeld] {
	font-size: 1.2vw;
}