@charset "utf-8";
/* CSS Document */

/* OBS. her bruges View Width (f.eks. 2vw) istedet for Pixels, så siden ændrer på indholdets størrelse når man justerer browserens størrelse */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}


/* margin på både html og body er for at sikre at websiden anvender hele vinduet uden at der er White Spaces på siderne */

body {
	margin: 0;
	background-color: black;
}

.grid-header {
    display: block;
    grid-area: header;
}

.grid-main { 
	display: block;
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	grid-gap: 0px;
	margin: auto;
	width: 100%;
}

/* NavBar Styling */

header {
	background-color: black;
    width: 80%;
    /* height: 4vw; */
    margin: 0;
    margin: auto;
    margin-bottom: 3vw;
    border-bottom: #7500A3 1px solid;
    border-width: thick;
}

.navbar-logo-area {
    float: left;
    width: 22%;
    height: 4vw;
    padding: .7vw 0 0 1vw;
}

.navbar-logo > img {
	display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 20px; */
    background: black;
    /* border-bottom: purple 1px solid; */
    border-width: thick;
}

.navbar-btns {
	font-size: 1.4vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #340348;
	transition: .5s;
}

/* Main/Body Styling */

main {
	background-color: #000;
	width: 100%;
	height: auto;
}

.hero-img {
	background: url('../images/stage-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 60vw;
}

.umf-box {
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    /* margin: 2.5vw 0 0 4vw; */
    text-align: left;
}

.top-h1 {
	font-size: 7.5vw;
	color: #5EDDF6;
	text-shadow: 1.5px 1.5px .3px rgb(0, 0, 0);
	margin: 0;
	font-weight: lighter;
}

.bottom-h1 {
	font-size: 4.5vw;
	color: #5EDDF6;
	text-shadow: 1.5px 1.5px .3px #000000;
	margin: 0;
	font-weight: lighter;

}

.dato {
	font-size: 1.3vw;
	color: #5EDDF6;
	margin: 1vw 0 0 0;
}

.tilmeld-box {
    width: 20%;
    height: auto;
    background-color: #7500A3;
    color: #fff;
    margin: 1vw 1vw 0vw 10vw;
    cursor: pointer;
    transition: all .1s linear;
}

.tilmeld-box:hover {
	background-color: #340348;
}

.tilmeld-box:active {
	background-color: #7500A3;
	margin: 2.3vw 2.3vw 0vw 10vw;
}

.tilmeld-p {
	font-size: 2vw;
	text-align: center;
	padding: 1vw 0;
}

.four-boxes-area-top {
	display: inline-flex;
	width: 100%;
	height: auto;
	color: #000;
	margin: 0;
}

.four-boxes-area-bottom {
	display: inline-flex;
	width: 100%;
	height: auto;
	color: #000;
	margin: 0 0 2vw 0;
}

.top-boxes {
	display: block;
	width: 40vw;
	background-color: #ddbfe2;
	margin: 3vw auto 0 auto;
}

.bottom-boxes {
	display: block;
	width: 40vw;
	background-color: #ddbfe2;
	margin: 3vw auto 0 auto;
}

.top-boxes, button {
	text-align: center;
}

.bottom-boxes, button {
	text-align: center;
}

button{
	width: 15vw;
    height: auto;
    background-color: #7500A3;
	color: #fff;
	padding: 15px 32px;
	font-size: 16px;
	border: none;
	margin-top: 1vw;
	margin-bottom: 1vw;
    cursor: pointer;
    transition: all .1s linear;
}

button:hover {
	background-color: #340348;
}
button:active {
	background-color: #7500A3;
	margin: 1.3vw auto 0vw auto;
}

.box-img {
	width: 100%;
	height: 20vw;
}

.et {
	background-image: url("../images/stage-2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.to {
	background-image: url("../images/group-of-people-3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tre {
	background-image: url("../images/group-of-people-bw.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fire {
	background-image: url("../images/stage-5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-headline {
	display: block;
	width: 100%;
	height: auto;
	padding: 1vw 0 0 2vw;
	font-size: 1.3vw;
}

.box-text {
	display: block;
	width: 100%;
	height: auto;
	padding: 0 0 0 2vw;
	font-size: 1vw;
	text-align: left;
}

.læs-mere-box {
	display: block;
    width: 30%;
    height: auto;
    background-color: #7500A3;
    color: #fff;
    margin: 2vw auto 0vw auto;
    cursor: pointer;
    transition: all .1s linear;
}

.læs-mere-box:hover {
	background-color: #340348;
}

.læs-mere-box:active {
	background-color: #7500A3;
	margin: 2.3vw auto 0vw auto;
}

.læs-mere-p {
	font-size: 1vw;
	text-align: center;
	padding: 1vw 0;
	
}
.læs-mere-p, a {
	text-decoration: none;
	color: white;
}
/* FOOOTER STYLING */

footer {
    display: grid;
	grid-template-areas: 'adresse image1 image2 image3 image4 image5 socialmedia';
    background-color: #000000;
	padding: 0;
	color: white;
	width: 100%;
	border-top: #7500A3 1px solid;
	border-width: thick;
	margin-top: 0px;
	bottom: 0;
	
}

.footerBox {
    background-color: #000000;
	padding: 1vw;
	align-self: center;
}

.footerBox ul li {
    padding: 0.2vw;
}

.footerBox a {
    color: #fff;
}

.footerOne {
    justify-self: center;
	grid-area: adresse;
}

.footerTwo{
    justify-self: center;
	grid-area: image1;
}
.footerThree{
    justify-self: center;
	grid-area: image2;
}
.footerFour{
    justify-self: center;
	grid-area: image3;
}
.footerFive{
    justify-self: center;
	grid-area: image4;
}

.footerSix {
    justify-self: center;
	grid-area: image5;
}

.footerSeven {
    justify-self: center;
	grid-area: socialmedia;
}


.bottom-icons {
	text-decoration: none;
	font-size: 3vw;
}

.bottom-icons:hover {
	color: #C87BE7;
}


ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li h3 {
	font-size: 2vw;
	margin: 0;
}

.fa-instagram:before {
    content: "\f16d";
    padding-left: 25px;
}

.fa-facebook:before {
    content: "\f16d";
    padding-left: 25px;
}

/* Mobile portrait, 4" to 6.9" screens */
@media screen and (min-width: 320px) and (max-width: 425px) {

	/* Header */
	header {
		display: grid;
		/* grid-area: logo; */
		grid-template-areas:
			'logo'
			'navbar';
		width: 100%; 
		height: 36vw;
		/* margin: 0; */
	}
	nav {
		display: flex;
		justify-content: center;
		/* margin-right: 20px; */
		background: black;
		/* border-bottom: purple 1px solid; */
		border-width: thick;
	}
	

	.navbar-logo-area {
		display: block;
		width: 68%;
		margin: auto;
		grid-area: logo;
		margin-bottom: 10vw;
	}

	.logo-responsive {
		display: block;
		min-width: 25%;
		max-width: 45vw;
		margin: auto;
	}
	.navbar-btns {
		display: block;
		grid-area: navbar;
		font-size: 5vw;
		padding: 2.5vw;
	}

	

	/* Main */

	main {
		display: block;
		min-width: 320px;
		max-width: 425px;
		height: auto;
	}

	.top-h1, .bottom-h1 {
		display: block;
		text-align: center;
	}

	.dato {
		display: block;
		text-align: center;
		margin-top: 20vw;
		font-size: 2.3vw;
	}

	.tilmeld-box {
		display: block;
		margin: 5vw auto 0 auto;
		width: 20%;
		border-radius: 25px;
	}

	.tilmeld-box:active {
		background-color: #7500A3;
		margin: 0 auto 0 auto;
	}

	.tilmeld-p {
		font-size: 2.5vw;
	}

	.four-boxes-area-top, .four-boxes-area-bottom {
		display: block;
		width: 100%;
		height: auto;
	}

	.top-boxes, .bottom-boxes {
		display: block;
		width: 90%;
		height: auto;
	}

	.box-img {
		width: 100%;
		height: 30vw;
	}

	.box-headline {
		font-size: 3vw;
		padding: 0;
	}

	.box-text {
		font-size: 3vw;
		padding: 0 8vw;
	}

	button {
		width: 30%;
		height: auto;
		font-size: 3vw;
		border-radius: 25px;
		padding: 2vw 0;
	}

	button:active {
		background-color: #7500A3;
		margin: 0 auto 0 auto;
	}

	/* Footer */

	footer {
		display: block;
		text-align: center;
	}

	.footerBox {
		font-size: 3vw;
	}

	li > h3 {
		font-size: 5vw;
	}

	.fa-facebook, .fa-instagram {
		padding: 2vw;
		font-size: 5vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}

/* Tablet portrait, 7" to 10" screens */
@media screen and (min-width: 768px) and (max-width: 834px) {
	
	html, body {
		min-width: 768px;
		max-width: 834px;
		height: auto;
		margin: 0;
	}

	/* Header */
	header {
		display: block;
		height: auto;
		margin: 0 auto;
	}

	.navbar-logo-area {
		display: block;
		width: 25%;
	}

	.navbar-btns {
		font-size: 2.3vw;
	}

	/* Main */

main {
	display: block;
	width: 100%;
	height: auto;
}

.dato {
	font-size: 2vw;
	margin-top: 30vw;
}

.tilmeld-box {
	display: block;
	margin: 0 auto;
	border-radius: 25px;
}

.tilmeld-box:active {
	margin: 1vw auto 0 auto;
}

.top-boxes, .bottom-boxes {
	display: block;
	width: 48%;
	height: auto;
}

.box-headline {
	font-size: 2vw;
}

.box-text {
	font-size: 2.2vw;
	padding: 0 2vw;
}

button {
	width: 40%;
	border-radius: 25px;
}

/* Footer */
	.footerBox, ul, li {
		font-size: 1.8vw;
		text-align: center;
	}

	.fa-facebook, .fa-instagram {
		padding: 1vw;
		font-size: 4vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}