@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #000;
}

.grid-header {
    display: block;
    grid-area: header;
}

.grid-main { 
	display: block;
	grid-area: main;
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	grid-gap: 0px;
	margin: auto;
	width: 100%;
}

/* NavBar Styling */

header {
	background-color: black;
    width: 80%;
    /* height: 4vw; */
    margin: 0;
    margin: auto;
    margin-bottom: 3vw;
    border-bottom: #7500A3 1px solid;
    border-width: thick;
}

.navbar-logo-area {
	float: left;
	width: 22%;
	height: 4vw; 
	padding: .7vw 0 0 1vw;
}

.navbar-logo > img {
	display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
}

.navItem1 {
	background-color: #340348;
}

.navbar-btns {
	font-size: 1.4vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #ba00d6;
	transition: .5s;
}

/* Main/Body Styling */

main {
	background-color: #000;
	width: 100%;
	height: auto;
	margin: auto;
}

h1 {
	font-size: 3vw;
	font-weight: 500;
	color: #C87BE7;
	margin: 1.5vw 0 1vw 0;
	padding: 0 4vw 0 4vw;
}

.tilmeldings-text-box {
	display: block;
	width: 50%;
	height: auto;
	float: left;
	margin-left: 4vw;
	color: #fff;
	font-size: 1.3vw;
}

.tilmelding-image {
	width: 35%;
	height: auto;
	float: right;
	margin: 0 5vw 0 0;
}

.tilmeldings-formular {
	width: 50%;
	height: auto;
	margin: 14vw 0 0 4vw;
	margin-bottom: 4vw;
}

fieldset {
	border-color: #7500A3;
}

.formular-header {
	color: #fff;
	font-size: 1vw;
	text-align: center;
}

.input-design {
	width: 100%;
	height: 3vw;
	margin: 0.5vw 0;
	font-size: 1.3vw;
}

#input-submit {
	display: block;
	width: 30%;
	height: 3vw;
	font-size: 1.2vw;
	margin: 1vw auto 1vw auto;
	border: 0;
	cursor: pointer;
}

#input-submit:hover {
	background-color: #ba00d6;
	color: #fff;
	transition: 0.2s;
}

#input-submit:active {
	background-color: #690079;
	color: #fff;
}

/* FOOOTER STYLING */

footer {
    display: grid;
	grid-template-areas: 'adresse image1 image2 image3 image4 image5 socialmedia';
    background-color: #000000;
	padding: 0;
	color: white;
	width: 100%;
	border-top: #7500A3 1px solid;
	border-width: thick;
	margin-top: 10px;
}

.footerBox {
    background-color: #000000;
	padding: 1vw;
	align-self: center;
}

.footerBox ul li {
    padding: 0.2vw;
}

.footerBox a {
    color: #fff;
}

.footerOne {
    justify-self: center;
	grid-area: adresse;
}

.footerTwo{
    justify-self: center;
	grid-area: image1;
}
.footerThree{
    justify-self: center;
	grid-area: image2;
}
.footerFour{
    justify-self: center;
	grid-area: image3;
}
.footerFive{
    justify-self: center;
	grid-area: image4;
}

.footerSix {
    justify-self: center;
	grid-area: image5;
}

.footerSeven {
    justify-self: center;
	grid-area: socialmedia;
}


.bottom-icons {
	text-decoration: none;
	font-size: 3vw;
}

.bottom-icons:hover {
	color: #690079;
}


ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li h3 {
	font-size: 2vw;
	margin: 0;
}

.fa-instagram:before {
    content: "\f16d";
    padding-left: 25px;
}

.fa-facebook:before {
    content: "\f16d";
    padding-left: 25px;
}

/* Mobile portrait, 4" to 6.9" screens */
@media screen and (min-width: 320px) and (max-width: 425px) {
	
	/* Header */
	header {
		display: grid;
		/* grid-area: logo; */
		grid-template-areas:
			'logo'
			'navbar';
		width: 100%; 
		height: 36vw;
		/* margin: 0; */
	}
	nav {
		display: flex;
		justify-content: center;
		/* margin-right: 20px; */
		background: black;
		/* border-bottom: purple 1px solid; */
		border-width: thick;
	}
	

	.navbar-logo-area {
		display: block;
		width: 68%;
		margin: auto;
		grid-area: logo;
		margin-bottom: 10vw;
	}

	.logo-responsive {
		display: block;
		min-width: 25%;
		max-width: 45vw;
		margin: auto;
	}
	.navbar-btns {
		display: block;
		grid-area: navbar;
		font-size: 5vw;
		height: 10vw;
		padding: 2.5vw;
	}
	/* Main */

	main {
		display: block;
		min-width: 320px;
		max-width: 425px;
		height: auto;
		margin: 0;
		padding: 2vw 7vw 0 7vw;
	}

	.side-navn {
		font-size: 4vw;
	}

	.p-tilmelding {
		font-size: 2.5vw;
	}

	.tilmeldings-formular {
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		float: left;
	}

	h2 {
		font-size: 3vw;
	}

	.input-design {
		width: 100%;
		height: 6vw;
		font-size: 2vw;
	}

	#input-submit {
		width: 30%;
		height: 8vw;
		border-radius: 25px;
		font-size: 2.5vw;
		background-color: #7500A3;
		color: #fff;
	}

	#input-submit:active {
		background-color: #340348
	}

	.tilmelding-image {
		display: block;
		width: 30%;
		height: auto;
		float: right;
	}

	/* Footer */
	footer {
		display: block;
		text-align: center;
	}

	.footerBox {
		font-size: 3vw;
	}

	li > h3 {
		font-size: 5vw;
	}

	.fa-facebook, .fa-instagram {
		padding: 2vw;
		font-size: 5vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 834px) {
	
	html, body {
		min-width: 768px;
		max-width: 834px;
		height: auto;
		margin: 0;
	}

	/* Header */
	header {
		display: block;
		height: auto;
		margin: 0 auto;
	}

	.navbar-logo-area {
		display: block;
		width: 25%;
	}

	.navbar-btns {
		font-size: 2.3vw;
	}

	/* Main */

main {
	display: block;
	width: 100%;
	height: auto;
}

.side-navn {
	display: block;
	padding: 1vw 6vw 0 6vw;
}

.p-tilmelding {
	font-size: 2.15vw;
	padding: 0 0 0 2vw;
}

.tilmeldings-formular {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
}

h2 {
	font-size: 3vw;
}

.input-design {
	display: block;
	width: 95%;
	height: 6vw;
	margin: 1vw auto;
	font-size: 2vw;
}

#input-submit {
	width: 30%;
	height: 8vw;
	border-radius: 25px;
	font-size: 2.5vw;
	background-color: #7500A3;
	color: #fff;
}

#input-submit:active {
	background-color: #340348
}

/* Footer */
	.footerBox, ul, li {
		font-size: 1.8vw;
		text-align: center;
	}

	.fa-facebook, .fa-instagram {
		padding: 1vw;
		font-size: 4vw;
	}

	.fa-facebook:before, .fa-instagram:before {
		padding: 0;
	}
}