@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.grid-header { 
	display: block;
	grid-area: header;
	background-color: #1d1d1d;
	width: 100%;
	height: 4vw; 
	margin: 0;
}
.grid-main { 
	display: block;
	grid-area: main;
	background-color: #000;
	width: 100%;
	height: auto;
	padding: 4vw;
}
.grid-footer { 
	display: block;
	grid-area: footer;
	background-color: #1d1d1d;
	color: #fff;
	width: 100%;
	height: auto;
	padding-bottom: 1vw;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-areas:
	  'header header header'
	  'main main main'
	  'footer footer footer';
	grid-gap: 0px;
}

.navbar-logo-area {
	float: left;
	width: 15%;
	height: 4vw; 
	padding: .7vw 0 0 1vw;
}

.navbar-logo > img {
	display: block;
}

.logo-responsive {
	display: block;
    max-width: 100%;
    height: auto;
}

nav {
	display: flex;
	justify-content: flex-end;
}

.navbar-btns {
	font-size: 1.1vw;
	color: #fff;
	display: inline-block;
	padding: 1.3vw 1vw 1.2vw 1vw;
	max-width: 100%;
    height: auto;
	text-decoration: none;
}

.navbar-btns:hover {
	background-color: #ba00d6;
	transition: .5s;
}

.tilmeldings-text-box {
	display: block;
	width: 50%;
	height: auto;
	float: left;
	color: #fff;
	font-size: 1vw;
}

.tilmelding-image {
	width: 20%;
	height: auto;
	float: right;
	margin: 0 7vw 0 0;
}

.tilmeldings-formular {
	width: 40%;
	height: auto;
	margin: 23vw 0 0 10vw;
}

.formular-header {
	color: #fff;
	font-size: 1vw;
	text-align: center;
}

#input-design {
	width: 100%;
	height: 3vw;
	margin: 0.5vw 0;
	font-size: 1.3vw;
}

#input-submit {
	display: block;
	width: 30%;
	height: 3vw;
	font-size: 1.2vw;
	margin: 1vw auto 1vw auto;
	border: 0;
	cursor: pointer;
}

#input-submit:hover {
	background-color: #ba00d6;
	color: #fff;
	transition: 0.2s;
}

#input-submit:active {
	background-color: #000;
	color: #fff;
}

.footer-logo {
	display: block;
	max-width: 18%;
	margin: 1vw auto 1vw auto;
}

.adresse-footer {
	display: block;
	font-size: 1vw;
	margin: 0;
	line-height: 1.5vw;
}

.mail-to {
	font-size: 1vw;
	color: #fff;
	text-decoration: none;
}

.bottom-icons {
    color: #fff;
	font-size: 2vw;
	margin: 1vw 1.5vw 1vw 1.5vw;
    text-decoration-line: none;
    justify-content: space-between;
}